/* ABOUT SECTION */

#about-section {
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#about-content {
  max-width: 1100px;
  display: flex;
}

#about-section img {
  width: min(180px, 20vw);
  height: min(180px, 20vw);
  object-fit: cover;
  position: relative;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
  /*shape-outside: circle();*/
}

#about-first-row {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-intro {
  margin-left: 40px;
}

#about-second-row {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 15px;

  margin-left: 40px;
  margin-right: 40px;
}

#about-section h2 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  color: #c8e8ff; /*053d63*/
  font-weight: 600;
  font-family: "Montserrat";
  z-index: 50;
}

#about-section h3 {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 0;
  color: #c8e8ff;
  font-weight: 600;
  font-family: "Montserrat";
}

#about-section p {
  color: #eeeeee;
}

.about-column {
  margin-top: 0;
}

.about-details {
  background-color: #2d2d2da0;
  border-radius: 3px;
  padding: 15px;
}

#about-interests {
  flex: 1;
  margin-bottom: 20px;
}

#about-portfolio {
  /*padding-left: 30px;*/
  flex: 1;
}

/* SLIDESHOW SECTION */

.carousel {
  margin: 5px auto;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: min(90%, 1400px);
}

.slideshow-section {
  background-color: #242424;
}

#slideshow {
  position: relative;
}

.slideshow-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slideshow-text {
  flex: 0 0 30%;
  text-align: center;
  color: white;
  z-index: 10;
}

.slideshow-header {
  font-size: 1.8em;
  margin-bottom: 0;
  font-family: "Montserrat";
}

.slideshow-description {
  color: #dddddd;
  font-weight: 100;
  font-size: 1.1em;
}

.slideshow-media {
  /*border: 2px white solid;*/
  max-height: 400px;
  object-fit: contain;
  min-width: none;
}

/* Distinct layout for smaller screens */
@media only screen and (max-width: 1100px) {
  /* SLIDESHOW SECTION */

  .slideshow-content {
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .slideshow-text {
    flex: auto;
  }

  .slideshow-media {
    flex: auto;
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  /* ABOUT SECTION */
  #about-content {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
  }

  #about-first-row {
    flex-direction: column;
    align-items: center;
  }

  #about-first-row h1 {
    font-size: 80%;
  }

  #about-second-row {
    flex-direction: column;
  }

  #about-intro {
    margin-left: 0;
  }

  #about-second-row {
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: row;
    justify-content: space-between;
  }

  #about-interests {
    margin-right: 10px;
  }

  #about-portfolio {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  #about-second-row {
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
  }

  #about-interests {
    margin-right: 0;
  }

  #about-portfolio {
    margin-left: 0;
  }
}
